#About{
    justify-content: center;
    /* margin-left: auto;
    display: flex; */
}
.backgroundtext{
    font-size: 70px;
    text-align: center;
}
.abouttext{
    width: 45%;
    font-size: 25px;
    margin-left: 90px;

}
p .nameline{
    size: px;
    font-weight: 500;
}
.namestyle{
    color:rgb(78, 12, 78)
}
body{
    background-image: url(/image/SoftwareDev.avif);
    background-size: cover;
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
}
.fulltext{
    color: purple;
}
.namedetails{
    width: 20%;
    color: whitesmoke;
    margin-left: auto;
}