#About{
    justify-content: center;
}
.backgroundtext{
    font-size: 70px;
    text-align: center;
    color: purple;
}
.abouttext{
    width: 45%;
    font-size: 25px;
    margin-left: 90px;

}
p .nameline{
    size: px;
    font-weight: 500;
}
.namestyle{
    color: purple;
}
body{
    background-image: url(/image/softwareDev4.avif);
    background-size: cover;
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
}
.nameline{
    color: white;
    font-size: 40px;
}
.fulltext{
    color: white;
}
.namedetails{
    width: 20%;
    color: whitesmoke;
    margin-left: auto;
    font-size: larger;
}
.txtdesign1{
    color: rgb(180, 255, 31);
}