.container{
    border: 1px solid;
    width: 19.6%;
    height: 25rem;
    background-color: rgba(0, 0, 0, 0.822);
    justify-content: center;
    align-items: center;
}
#display{
    border: none;
    height: 3.5rem;
    width: 96.5%;
    background-color: black;
    color: white;
    font-style: oblique;
    font-size: 30px;
    margin-left: 4px;
    text-align: right;
    justify-content: right;
}
#display2{
    border: none;
    height: 3.5rem;
    width: 96.5%;
    background-color: black;
    color: white;
    font-style: oblique;
    font-size: 30px;
    margin-left: 4px;
}
button{
    border: none;
    width: 4.5rem;
    height: 3.3rem;
    text-align: center;
    margin: 2px;
    font-size: larger;
    font-weight: 200;
    border-radius: 15px;
    background: linear-gradient(to bottom right, #fb5283, #ff3);
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    margin-left: 3px;
}
#color{
    color: white;
}
#red{
    background-color: red;
}
body{
    background-color: burlywood;
}