#container{
    border: 1px solid;
    width: 15%;
    height: 20rem;
    background-color: black;
}
#display{
    border: 1px solid black;
    margin: 3px;
    height: 5rem;
    width: 14rem;
    background-color: gray;
    color: white;
}
td button{
    border: 1px solid black;
    border-radius: 5px;
    width: 3.4rem;
    height: 3rem;
    text-align: center;
}
body{
    background-color: burlywood;
}