m #login{
    width: 20%;
    height: 400px;
    border-radius: 25px;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.842);
    padding-top: 15px;
    margin-left: auto;
    margin-top: 100px;
    margin-right: 30px;
}
h3{
    padding: 7px;
    color:  #e49a36;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.89);
    margin: 0px 15px 25px 15px;
}
input[type="email"]{
    border: none;
    border-bottom: 2px solid  #e49a36;
    background-color:rgba(0, 0, 0, 0);
    font-size: medium;
    margin-bottom: 30px;
    width: 80%;

}
input[type="password"]{
    border: none;
    border-bottom: 2px solid  #e49a36;
    background-color:rgba(0, 0, 0, 0);
    font-size: medium;
    margin-bottom: 40px;
    width: 80%;
}
button{
    display: block;
    margin: auto;
    color: white;
    background-color:   #e49a36;
    border: none;
    padding: 7px;
    width: 80%;
    border-radius: 10px;
    font-size: medium;
    margin-bottom: 10px;
}
.signup{
    color:   #e49a36;

}
p{
    color: white;
    margin: auto;
}
body{
    background-image: url(mercedex.avif);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}