img{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    float: left;
    margin-right: 10px;
    margin-left: 15px;
}
.text h4{
    color: grey;
    margin-bottom: 5px;
}
.text h3{
    color: blue;
    margin-top: 0;
}
hr{
    width: 85%;
}
blockquote{
    font-style: italic;
}
body{
    background-color: white;
    border-radius: 15px;
    width: 400px;
    box-shadow: 10px 10px 10px 0px rgb(99, 99, 207);
    padding-bottom: 10px;
}