body{
    background-color: black; 
    width: 100%;
}
#body{
    display: flex;
    flex-wrap: wrap;
    padding-top: 0px;
}
a{
    text-decoration: none;
    color: white;
}
#container1{
    background-color:  rgb(83, 15, 97);
    width: 20%;
    height: 600px;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    font-size: larger;
    padding-bottom: 160px;
}
.contain1text{
    display: inline-block;
    width: fit-content;
    margin-left: -3rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li{
    list-style:none;
    padding: 10px;
}
.contain1text :hover{
    color: aqua;
    
}
h4{
    color: white;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#joel{
    border-radius: 90px;
    width: 50%;
    box-shadow: 0px 0px 1px 2px white;
}
#home{
    width: fit-content;
}
#Homepage{
    width: 80%;
    background-image: url(/image/SoftwareDev5.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contain2text{
    justify-content: center;
    text-align: center;
    font-size: 30px;
    margin: auto;
    width: fit-content;
}
.welcome{
    color:  rgb(83, 15, 97);
    font-size: 50px;
    margin-top: 20px;
    font-weight: bolder;
    text-shadow: 0px 0px 1px 2px white;
    justify-self: center;
    text-align: center;
}
.c2p{
    margin-top: -19px;
    color: white;
}
.freelance{
    color: white;
    font-size: 80px;
    margin-bottom: 30px;
}
.hireme{
    background-color: rgba(0, 0, 0, 0.247);
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px 20px;
    color: white;
    width: 20%;
    font-size: large;
}
.hireme:hover{
    background-color: aqua;
    color: black;
    size: 40%;
}