body{
    background-color: black;
}
#body{
    display: flex;
    flex-wrap: wrap;
    padding-top: 0px;
}
a{
    text-decoration: none;
    color: white;
}
#container1{
    background-color: rgba(28, 8, 32, 0.925);
    width: 20%;
    height: 600px;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    font-family: cursive;
    padding-bottom: 160px;
}
.contain1text{
    margin-top: 60px;
}
h4{
    color: white;
}
#joel{
    border-radius: 70px;
    height: 170px;
    width: 200px;
}
#container2{
    width: 80%;
    background-color: rgba(137, 43, 226, 0.479);
    background-image: url(/image/SoftwareDev.avif);
}
.container2{
    background-color:rgba(14, 12, 14, 0.192);
    height: 500px;
    padding-top: 1px;
    padding-bottom: 278px;
}
.contain2text{
    color: purple;
    justify-content: center;
    text-align: center;
    font-size: 35px;
    font-weight: 90px;
}