#body{
    display: flex;
    flex-wrap: wrap;
    padding-top: 0px;
}
a{
    text-decoration: none;
    color: white;
}
#container1{
    background-color:  rgb(83, 15, 97);
    width: 20%;
    height: 100vh;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    font-size: larger;
    position: fixed;
}
.container2{
    background-color: rgba(0, 0, 0, 0.684);
    padding: 5rem 2rem;
    border-radius: 25px;
    border: none;
}
.contain1text{
    display: inline-block;
    width: fit-content;
    margin-left: -3rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li{
    list-style:none;
    padding: 10px;
}
.contain1text :hover{
    color: aqua;
}
h4{
    color: white;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#joel{
    border-radius: 90px;
    width: 50%;
    box-shadow: 0px 0px 1px 2px white;
}
#home{
    width: fit-content;
}
#Homepage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-image: url(/portfolio/SoftwareDev5.avif);
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-left: auto;
    /* background-attachment:fixed; */
}
.contain2text{
    justify-content: center;
    text-align: center;
    font-size: 30px;
    margin: auto;
    width: fit-content;
}
.welcome{
    color:  white;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 0px 0px 1px 2px white;
    justify-self: center;
    text-align: center;
}
.c2p{
    margin-top: -19px;
    color: white;
}
.freelance{
    color: white;
    font-size: 80px;
    margin-bottom: 30px;
}
.hireme{
    background-color: inherit;
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px 20px;
    color: white;
    width: 20%;
    font-size: large;
    cursor: pointer;
}
.hireme:hover{
    background-color: aqua;
    color: black;
    size: 40%;
    border: none;
}
#About{
    width: 80%;
    background-image: url(/portfolio/SoftwareDev5.avif);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0%;
    margin-left: auto;
}
#AboutText{
    font-size: 60px;
    text-align: center;
    color: rgb(83, 15, 97);
    background-color: silver;
}
.Text{
    color: rgb(83, 15, 97);
    width: 50%;
    font-size: 20px !important;
    font-weight: bolder;
    margin-left: auto;
    margin-right: 15px;
    /* background-color: rgba(0, 0, 0, 0.562); */
    background-color: silver;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0px 0px 3px 2px rgb(83, 15, 97);
}
.namedetails{
    width: 26% !important;
    color: rgb(83, 15, 97);
    font-size: larger;
    background-color: silver;
    box-shadow: 0px 0px 3px 2px rgb(83, 15, 97);
    padding: 20px;
    box-shadow: 0px 0px 1px 1px rgb(83, 15, 97);
    margin: 1rem 2em 10rem auto;
}
.namedetails a{
    color: red;
}