.container{
    border: 2px solid white;
    background-color: orangered;
    text-align: center;
    width: 19%;
    height: 45%;
    padding: 5px;
    justify-content: center;
    box-shadow: 1px 3px 7px 2px;
    margin-top: 5rem;
    margin-left: 3rem;
}
#text{
    color: white;
    font-family: cursive;
    font-size: xx-large;
}
h1{
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: green
}
button{
    border: none;
    color: white;
    background-color: blue;
    margin-bottom: 10px;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 1px 3px 6px 1.5px black;
    padding: 5px 5px 5px 5px;
}
body{
    background-color: orange;
}