body{
    background-color: orange;
    color: white;
}
section{
    text-align: center;
    height: 90vh;
    font-size: 2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
button{
    background-color: inherit;
    border: 2px solid white;
    color: white;
    height: 3em;
    border-radius: 15px;
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 2rem;
    padding: 10px 25px;
}
/* phone screen orientation */
@media (max-width:400px) {
.buttons{
    display: flex;
    flex-direction: column;
}

}