body{
    background-color: orange;
    color: white;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-size: 1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
button{
    background-color: inherit;
    border: 2px solid white;
    color: white;
    height: 3em;
    border-radius: 15px;
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 2rem;
    padding: 10px 25px;
}
/* phone screen orientation */
@media (max-width:400px) {
section{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
button{
    height: 2em;
    font-size: 1em;
    padding: 0px 10px;  
}

}