#page1{
    background-image: url(/image/softwareDev.avif);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.header{
    display: flex;
}
nav{
   margin: 1rem 5rem 0rem 50rem;
   font-size: larger;
   justify-content: space-between;
}
button{
    border-radius: 15px;
    border: none;
    color: rgb(255, 0, 157);
    margin-top: 12px;
    margin-left: 0px;
}
a{
    text-decoration: none;
    color: rgb(255, 0, 157);
}